@import "tailwindcss";

@theme {
  /*colors*/
  --color-custom-black: #121212;
  --color-custom-red: #b91e1e;
  --color-white: #ffffff;
  --color-custom-lightgray: #a8a8a8;
  --color-custom-strong-red: #dc312e;

  /*Typography*/
  --font-electrolize: "Electrolize", sans-serif;
  --text-sm: 16px;
  --text-lg: 20px;
  --text-2xl: 32px;
}

.bg-right {
  background:
    radial-gradient(
      ellipse at top right,
      rgba(185, 30, 30, 0.3),
      transparent 45%
    ),
    radial-gradient(
      ellipse at bottom left,
      rgba(185, 30, 30, 0.3),
      transparent 45%
    ),
    #121212;
}

.bg-left {
  background:
    radial-gradient(
      ellipse at top left,
      rgba(185, 30, 30, 0.3),
      transparent 45%
    ),
    radial-gradient(
      ellipse at bottom right,
      rgba(185, 30, 30, 0.3),
      transparent 45%
    ),
    #121212;
}
