@import "tailwindcss";

@theme {
  /*background color*/
  --color-gradient-secondly: #b91e1e;
  --color-gradient-primary: #121212;
  /*text color*/
  --color-header-primary: #ffffff;
  --color-header-secondly: #dc312e;
  --color-text-primary: #a8a8a8;
  /*Typography*/
  --font-electrolize: "Electrolize", sans-serif;
}
