//ANIMATION MOBILE-NAV
@keyframes OpenNav {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes CloseNav {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

//BOTTOM-LINE-MOBILE-NAV
@keyframes move-line {
	from {
		width: 10px;
	}
	to {
		width: 100%;
	}
}
@keyframes back-move-line {
	from {
		width: 100%;
	}
	to {
		width: 10px;
	}
}

//ANIMATION BURGER ICON
@keyframes open-close-right {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(135deg);
	}
}

@keyframes open-close-left {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(45deg);
	}
}
