@use './reset.scss' as *;

.certyfication {
	text-align: center;
	min-height: 100vh;
	&__content {
		flex-direction: column;
		align-items: center;
	}
	&__img-diploma {
		max-width: 10%;
		margin: 2em 5em;
		transition: all 1s;
	}
	&__img-diploma:hover {
		cursor: pointer;
		transform: scale(1.2);
	}

}
