@use './reset.scss' as *;
@use './colors' as *;

.contact {
	flex-direction: column;
	&__input {
		border: 0.3px solid #fff;
		background: none;
		color: #fff;
		margin: 2em;
		min-width: 50%;
		resize: none;
		padding: 1.2em;
		border-radius: 15px;
	}
}
