@use './colors' as *;
@use './reset.scss' as *;

.footer {
	background-color: black;
	flex-wrap: wrap;
	color: #fff;
	text-align: center;
	width: 100%;

	&__socialmedia-item {
		font-size: 2rem;
		margin: 1em;
		transition: color 2s;
	}
	&__socialmedia-item:hover {
		cursor: pointer;
		color: $contrast-color;
	}

	&__copywrite {
		min-width: 100%;
		padding: 1em 0;
	}
}

@media (min-width: 768px) {
	.footer {
		flex-direction: column;
		&__socialmedia-items,
		&__bottom-menu-items {
			flex-direction: row;
		}
	}
}
