@use 'colors.scss' as *;

.header {
	&__title {
		padding-top: 3em;
		// color: $text-color;

		&__letter1 {
			animation: letter forwards;
			animation-delay: 0.5s;
		}
		&__letter2 {
			animation: letter forwards;
			animation-delay: 0.7s;
		}
		&__letter4 {
			animation: letter forwards;
			animation-delay: 1s;
		}
		&__letter5 {
			animation: letter forwards;
			animation-delay: 1.05s;
		}
		&__letter6 {
			animation: letter forwards;
			animation-delay: 1.1s;
		}
		&__letter7 {
			animation: letter forwards;
			animation-delay: 1.15s;
		}
		&__letter8 {
			animation: letter forwards;
			animation-delay: 1.2s;
		}
		&__letter9 {
			animation: letter forwards;
			animation-delay: 1.25s;
		}
		&__letter10 {
			animation: letter forwards;
			animation-delay: 1.3s;
		}
		&__letter11 {
			animation: letter forwards;
			animation-delay: 1.35s;
		}
		&__letter12 {
			animation: letter forwards;
			animation-delay: 1.4s;
		}
		&__letter13 {
			animation: letter forwards;
			animation-delay: 1.45s;
		}
		&__letter14 {
			animation: letter forwards;
			animation-delay: 1.5s;
		}
		&__letter15 {
			animation: letter forwards;
			animation-delay: 1.55s;
		}
		&__letter16 {
			animation: letter forwards;
			animation-delay: 1.6s;
		}
		&__letter17 {
			animation: letter forwards;
			animation-delay: 1.65s;
		}
		&__letter18 {
			animation: letter forwards;
			animation-delay: 1.7s;
		}
		&__letter19 {
			animation: letter forwards;
			animation-delay: 1.8s;
		}
		&__letter20 {
			animation: letter forwards;
			animation-delay: 1.9s;
		}
		&__letter21 {
			animation: letter forwards;
			animation-delay: 2s;
		}
		&__letter22 {
			animation: letter forwards;
			animation-delay: 2.1s;
		}
		&__letter23 {
			animation: letter forwards;
			animation-delay: 2.2s;
		}
		&__letter24 {
			animation: letter forwards;
			animation-delay: 2.3s;
		}
		&__letter24 {
			animation: letter forwards;
			animation-delay: 2.4s;
		}
		&__letter25 {
			animation: letter forwards;
			animation-delay: 2.5s;
		}
	}

	@keyframes letter {
		from {
			width: 0;
			visibility: hidden;
		}
		to {
			width: 100%;
			visibility: visible;
		}
	}

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding-top: 3em;
	width: 100%;
	height: 100vh;
	&__primary-photo {
		width: 400px;
		height: 400px;
		padding: 20px;
		transition: padding 0.5s;
	}
	&__primary-photo:hover {
		padding: 5px;
	}
	&__header-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	&__title {
		overflow: hidden;
		white-space: nowrap;
		animation: move-text 3s;
		animation-delay: 2s;
	}

	&__letter25::after {
		left: 0;
		height: 40px;
		width: 1.5px;
		background-color: black;
		content: '';
		animation: cursor-bottom 0.5s infinite;
	}

	@keyframes cursor-bottom {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&__text {
		// color: $text-color;
		font-size: 1.2rem;
		padding: 1em;
	}
	&__button {
		width: 12em;
		height: 4em;
		margin: 1em;
		padding: 1em;
		border-radius: 20px;
		transition: all 0.4s;
		text-transform: uppercase;
		font-weight: bold;
		background-color: $menu-color;
		color: $main-color;
		cursor: pointer;
		&--awarded {
			width: 12em;
			height: 4em;
			margin: 1em;
			padding: 1em;
			border-radius: 20px;
			transition: all 0.4s;
			text-transform: uppercase;
			font-weight: bold;
			// background-color: $sea-color;
			color: $main-color;
			cursor: pointer;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__title::after {
			position: absolute;
			left: 410px;
			top: 90px;
		}
	}
}
