@use 'colors.scss' as *;
@use './animation' as *;
@use './mixins' as *;

.header {
	background-image: url('../img/header_hd.jpg');
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	margin-top: 0;
	flex-direction: column;
	text-align: center;
	max-width: 100%;
	color: $secondly-color;

	&__title {
		// position: relative;
		font-size: 2rem;
		// position: relative;
		z-index: 4;
		padding: 0.5em;
	}
	&__letter1 {
		animation: letter both;
		animation-delay: 0.1s;
		visibility: hidden;
	}
	&__letter2 {
		animation: letter both;
		animation-delay: 0.2s;
		visibility: hidden;
	}
	&__letter3 {
		animation: letter both;
		animation-delay: 0.4s;
		visibility: hidden;
	}
	&__letter4 {
		animation: letter both;
		animation-delay: 0.6s;
		visibility: hidden;
	}
	&__letter5 {
		animation: letter both;
		animation-delay: 0.8s;
		visibility: hidden;
	}
	&__letter6 {
		animation: letter both;
		animation-delay: 1s;
		visibility: hidden;
	}
	&__letter7 {
		animation: letter both;
		animation-delay: 1.2s;
		visibility: hidden;
	}
	&__letter8 {
		animation: letter both;
		animation-delay: 1.4s;
		visibility: hidden;
	}
	&__letter9 {
		animation: letter both;
		animation-delay: 1.6s;
		visibility: hidden;
	}
	&__letter10 {
		animation: letter both;
		animation-delay: 1.8s;
		visibility: hidden;
	}
	&__letter11 {
		animation: letter both;
		animation-delay: 2s;
		visibility: hidden;
	}
	&__letter12 {
		animation: letter both;
		animation-delay: 2.2s;
		visibility: hidden;
	}
	&__letter13 {
		animation: letter both;
		animation-delay: 2.4s;
		visibility: hidden;
	}
	&__letter14 {
		animation: letter both;
		animation-delay: 2.6s;
		visibility: hidden;
	}
	&__letter15 {
		animation: letter both;
		animation-delay: 2.8s;
		visibility: hidden;
	}
	&__letter16 {
		animation: letter both;
		animation-delay: 3s;
		visibility: hidden;
	}
	&__letter17 {
		animation: letter both;
		animation-delay: 3.2s;
		visibility: hidden;
	}
	&__letter18 {
		animation: letter both;
		animation-delay: 3.4s;
		visibility: hidden;
	}
	&__letter19 {
		animation: letter forwards;
		animation-delay: 3.6s;
		visibility: hidden;
	}
	&__letter20 {
		animation: letter forwards;
		animation-delay: 3.8s;
		visibility: hidden;
	}
	&__letter21 {
		animation: letter forwards;
		animation-delay: 4s;
		visibility: hidden;
	}
	&__letter22 {
		animation: letter forwards;
		animation-delay: 4.2s;
		visibility: hidden;
	}
	&__letter23 {
		animation: letter forwards;
		animation-delay: 4.4s;
		visibility: hidden;
	}
	&__letter24 {
		animation: letter forwards;
		animation-delay: 4.6s;
		visibility: hidden;
	}
	&__letter25 {
		animation: letter forwards;
		animation-delay: 4.8s;
		visibility: hidden;
	}

	@keyframes letter {
		from {
			visibility: hidden;
		}
		to {
			visibility: visible;
		}
	}

	&__cursor {
		animation: blink-cursor 1s infinite;
	}
	@keyframes blink-cursor {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&__opacity-bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	&__header-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}

	&__text {
		position: relative;
		font-size: 1.2rem;
		padding: 1.5em;
		color: $white-color;
	}
	&__button {
		position: relative;
		background-color: none;
		border: 2px solid $white-color;
		width: 12em;
		height: 4em;
		margin: 1em;
		padding: 1em;
		border-radius: 20px;
		color: $white-color;
		font-weight: bold;
		transition: all 0.4s;
		text-transform: uppercase;
		cursor: pointer;
	}
	&__button:hover {
		background-color: rgba(14, 246, 204, 0.7);
	}
}

// @media (min-width: 768px) {
// 	.header {
// 		&__primary-photo {
// 			display: block;
// 		}
// 	}
// }
