@use './colors' as *;

.nav {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 1000;
	background-color: #176b87;
	border-radius: 5px 5px 25px 25px;
	opacity: 0.8;
	width: 80%;
	min-height: 5%;
	&__desktop-items-list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.9rem;
	}
	&__desktop-item-list {
		padding: 1.4em;
		margin: 0 0.6em;
		z-index: 1000;
		transition: color 0.5s;
		color: $white-color;
	}
	&__desktop-item-list:hover {
		cursor: pointer;
		color: $active-btn;
	}
	&__mobile-item-list {
		display: none;
	}
}
.burger-icon {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5em;
	font-size: 2.8rem;
	transition: color 0.5s;
}
.close-icon {
	transition: color 0.5s;
	z-index: 1000;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5em;
	font-size: 2.8rem;
}

.burger-icon:hover {
	cursor: pointer;
	color: $active-btn;
}
.close-icon:hover {
	cursor: pointer;
	color: $active-btn;
}

@media (max-width: 992px) {
	.nav {
		display: none;
		&__desktop-items-list {
			display: none;
		}
		&__mobile-item-list {
			margin: 3em 1em;
			display: block;
		}
	}

	.mobile-nav {
		position: fixed;
		top: 0;
		background-color: #176b87;
		width: 75%;
		height: 100%;
		transform: translateX(0px);
		&--open-nav {
			transform: translateX(-110%);
			background-color: #176b87;
			width: 75%;
			height: 100%;
		}
	}
	.burger-icon {
		display: block;
		color: #fff;
	}
}
