@use './mixins' as *;
@use './colors' as *;
//display
//position
//width height
//margin padding

.nav {
	position: fixed;
	top: 0;
	background-color: $menu-color;
	width: 100%;
	height: 80px;

	&__logo {
		color: $main-color;
		width: 40px;
		height: 50px;
		margin: 15px 25px;
		z-index: 10000;
	}

	// &__burger-icon {
	// 	color: $main-color;
	// 	position: fixed;
	// 	right: 0;
	// 	top: 0;
	// 	width: 7em;
	// 	min-height: 6em;
	// 	padding: 1em;
	// 	z-index: 100;
	// 	border: none;
	// }
	&__burger-icon {
		position: fixed;
		right: 0;
		top: 0;
		margin: 0.1em;
		z-index: 100;
		// animation: rotate-secondly-burger 1s both;

		// padding: 10px;
		// background-color: aqua;
		// width: 50px;
		// height: 50px;
		// border-bottom: 20px solid $main-color;
		// border-top: 20px solid $main-color;
	}

	&__burger-hight-line {
		background-color: $main-color;
		height: 5px;
		width: 50px;
		margin: 1em;
		border-radius: 10px;
	}

	&__burger-center-line {
		position: relative;
		background-color: $main-color;
		height: 5px;
		width: 50px;
		margin: 1em;
		border-radius: 10px;
	}
	&__burger-secondly-line {
		position: absolute;
		top: 18px;
		background-color: $main-color;
		height: 5px;
		width: 50px;
		margin: 1em;
		border-radius: 10px;
	}
	&__burger-bottom-line {
		background-color: $main-color;
		height: 5px;
		width: 50px;
		margin: 1em;
		border-radius: 10px;
	}

	@keyframes rotate-icon {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(45deg);
		}
	}
	@keyframes rotate-secondly-burger {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(135deg);
		}
	}

	@keyframes hidden-burger {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	&__mobile-items {
		transform: translateX(0%);
		&--active {
			animation: CloseNav 1s both;
			@include nav;
		}
		&--close {
			animation: OpenNav 1s both;
			@include nav;
		}
	}

	@keyframes OpenNav {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0);
		}
	}
	@keyframes CloseNav {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(100%);
		}
	}

	&__mobile-item {
		position: relative;
		margin: 5em 1em;
		padding: 1em;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__mobile-item::before {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 1vw;
		border-bottom: 3px solid $main-color;
		content: '';
		animation: move-line-left 5s both;
	}
	&__mobile-item::after {
		position: absolute;
		bottom: 0;
		right: 50%;
		width: 1vw;
		border-bottom: 3px solid $main-color;
		content: '';
		animation: move-line-right 5s both;
	}

	@keyframes move-line-right {
		from {
			width: 10%;
		}
		to {
			width: 50%;
		}
	}
	@keyframes move-line-left {
		from {
			width: 10%;
		}
		to {
			width: 50%;
		}
	}

	&__desktop-items {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em;
		color: $main-color;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__desktop-item {
		padding: 1.5em;
	}
	&__desktop-item:hover {
		cursor: pointer;
	}
}

@media (min-width: 768px) {
	.nav {
		&__burger-icon,
		&__mobile-items {
			display: none;
			&--close {
				display: none;
			}
		}
		&__desktop-items {
			display: block;
		}
	}
}
