@mixin navStyle {
	position: fixed;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 75vw;
	height: 100vh;
	padding-top: 10vh;
	background-color: #7e7e7ea9;
	transform: translateX(0);
}
