@use './color' as *;

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', 'serif';
}

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.radius {
	position: absolute;
	top: 0px;
	left: 0px;
	// top: -500px;
	// left: 200px;
	// border-radius: 50px;
	background-color: $gray;
}

.box-reset {
	min-width: 100%;
	min-height: 100vh;
}
