@use './mixins' as *;
@use './colors' as *;
@use './animation' as *;

.skills {
	flex-direction: column;
	max-width: 100%;
	color: #fff;
	&__cards {
		flex-wrap: wrap;
		padding: 10px;
	}

	&__card {
		overflow: hidden;
		flex-direction: column;
		height: 400px;
		width: 300px;
		margin: 2em;
		border: 2px double #fff;
		text-align: center;
		border-radius: 25px;
		transition: all 1s;
		transition: transform 0.8s;
		transform-style: preserve-3d;
		position: relative;
		perspective: 1000px;
	}

	&__card:hover {
		cursor: pointer;
		transform: rotateY(180deg);
	}

	&__front-card {
		position: absolute;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
	}
	&__back-card {
		background-color: #fff;
	}

	&__icon {
		font-size: 15rem;
		color: #fff;
	}
	&__progress-bar {
		position: relative;
		overflow: hidden;
		margin: 1em 0;
		width: 80%;
		height: 10px;
		border-radius: 25px;
		border: 1px solid $contrast-color;
		&--bem {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 50%;
			height: 10px;
		}
		&--node {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 25%;
			height: 10px;
		}
		&--github {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 60%;
			height: 10px;
		}
		&--html {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 90%;
			height: 10px;
		}
		&--scss {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 80%;
			height: 10px;
		}
		&--css {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 80%;
			height: 10px;
		}
		&--js {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 60%;
			height: 10px;
		}
		&--react {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 40%;
			height: 10px;
		}
		&--postgres {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $contrast-color;
			width: 30%;
			height: 10px;
		}
	}
}
