@use './mixins' as *;
@use './colors' as *;
@use './animation' as *;

.skills {
	flex-direction: column;
	max-width: 100%;
	margin: 3em;
	color: #fff;
	&__cards {
		flex-wrap: wrap;
		padding: 20px;
		margin: 2em;
	}

	&__card {
		height: 200px;
		width: 150px;
		flex-direction: column;
		perspective: 1200px;
		transition: transform 1s;
		margin: 1em;
	}
	&__card:hover {
		transform: scale(1.1);
	}

	&__content-card {
		width: 100%;
		height: 100%;
		flex-direction: column;
		transition: transform 1s;
		transform-style: preserve-3d;
		border: 2px solid #fff;
		text-align: center;
		border-radius: 25px;
		padding: 1em;
		position: relative;
		overflow: hidden;
	}

	@keyframes runText {
		from {
			transform: translateX(140px);
		}
		to {
			transform: translateX(0px);
		}
	}

	&__description {
		position: absolute;
		transform: translateX(140px);
		transition: translate 2s;
		z-index: 10;
	}
	&__description:hover {
		animation: runText 2s forwards;
	}

	&__icon {
		font-size: 6rem;
		color: #fff;
		margin-bottom: 0.3em;
	}
}
