@use './colors' as *;

.skills {
	max-width: 100%;
	min-height: 100vh;
	&__name {
		text-align: center;
		text-transform: uppercase;
		color: $white-color;
	}
	&__title {
		text-align: center;
		margin: 1em;
	}
	&__flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon-position {
		font-size: 1.2rem;
		display: flex;
		padding: 1em;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	&__description {
		font-size: 1.4rem;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		max-width: 50vw;
		min-height: 100vh;
		margin: 0 2em;
		padding: 2em;
	}

	&__icon-skills {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		min-width: 50%;
		min-height: 80vh;
		background-color: $active-menu;
	}

	&__icon-description {
		font-size: 4rem;
	}

	&__icon-skill {
		// margin: 0 0em;
		margin: 0 1em;
		// padding: 1em;
		font-size: 5.6rem;

		color: $white-color;
	}
}
