//ROOT

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.nav {
	position: relative;
	top: 0;
	//MOBILE NAV
	&__burger-icon {
		position: fixed;
		right: 0;
		width: 40px;
		height: 40px;
		margin: 15px;
		z-index: 100;
	}
	&:hover {
		cursor: pointer;
	}
	&__mobile-menu-items {
		display: none;
		position: fixed;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		width: 75vw;
		height: 100vh;
		padding-top: 10vh;
		background-color: #9795953f;
	}
	&__mobile-menu-items--active {
		display: none;
	}
	&__mobile-menu-item {
		margin: 20px 10px;
	}

	//DESKTOP NAV

	&__desktop-menu-items {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		margin: 1.5em;
	}
	&__desktop-menu-item {
		padding: 1.5em;
	}
}

@media (min-width: 768px) {
	.nav {
		&__burger-icon {
			display: none;
		}
		&__desktop-menu-items {
			display: block;
		}
	}
}
