@use './mixins' as *;
//ROOT
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button{
	border: none;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.nav {
	position: fixed;
	background-color: rgba(150, 157, 163, 0.144);
	width: 100%;
	height: 100px;
	//LOGO
	&--logo {
		position: fixed;
		left: 0;
		width: 40px;
		height: 50px;
		margin: 15px 25px;
		z-index: 100;
	}
	//MOBILE NAV
	&__burger-icon {
		@include toggleBurgerIcon
	}
	&__close-icon{
		display: none;
		@include toggleBurgerIcon
	}
	&:hover {
		cursor: pointer;
	}
	&__mobile-items {
        animation: CloseNav 1s both;
		@include navStyle();
    }
    &__mobile-items--active {
        animation: OpenNav 1s both;   
  	  	@include navStyle();
	}
    @keyframes OpenNav {
        from {
            transform: translateX(700px);
        }
        to {
            transform: translateX(0px);
        }
    }
	@keyframes CloseNav {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(700px);
        }
    }
	&__mobile-item {
		margin: 20px;
	}

	//DESKTOP NAV

	&__desktop-items {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em;
	}
	&__desktop-item {
		padding: 1.5em;
	}
}

//MOBILE HEADER
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 80vh;
	&__title {
		margin: 1em;
	}
	&__text {
		padding: 1em;
	}
	&__button {
		padding: 10px 25px;
		border-radius: 20px;
		border: 1px solid #aca1a1d7;
		background-color: #fff;
	}
}

@media (min-width: 768px) {
	.nav {
		&__burger-icon,
		// &__close-icon,
		&__mobile-item,
		&__mobile-items {
			display: none;
		}
		&__desktop-items {
			display: block;
		}
	}
}