//ROOT

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.nav {
	position: fixed;
	background-color: rgba(150, 157, 163, 0.144);
	width: 100%;
	height: 100px;

	//LOGO
	&__logo {
		position: fixed;
		left: 0;
		width: 50px;
		height: 50px;
		margin: 15px 25px;
		z-index: 100;
	}

	//MOBILE NAV
	&__burger-icon {
		position: fixed;
		right: 0;
		width: 15%;
		width: 50px;
		height: 50px;
		margin: 0 20px;
		z-index: 100;
		border: none;
	}

	&:hover {
		cursor: pointer;
	}

	&__mobile-menu-items {
		animation: CloseNav 1s both;
		position: fixed;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		width: 75vw;
		height: 100vh;
		padding-top: 10vh;
		background-color: #f307072c;
		transform: translateX(0);
	}
	@keyframes CloseNav {
		from {
			transform: translateX(0px);
		}
		to {
			transform: translateX(700px);
		}
	}

	&__mobile-menu-items--active {
		animation: OpenNav 1s both;
		position: fixed;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		width: 75vw;
		height: 100vh;
		padding-top: 10vh;
		background-color: #f307072c;
		transform: translateX(0);
	}
	@keyframes OpenNav {
		from {
			transform: translateX(700px);
		}
		to {
			transform: translateX(0px);
		}
	}
	
	&__mobile-menu-item {
		margin: 20px;
	}

	//DESKTOP NAV

	&__desktop-menu-items {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em;
	}
	&__desktop-menu-item {
		padding: 1.5em;
	}
}

//MOBILE HEADER
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 80vh;
	&__title {
		margin: 1em;
	}
	&__text {
		padding: 1em;
	}
	&__button {
		padding: 10px 25px;
		border-radius: 20px;
		border: 1px solid #aca1a1d7;
		background-color: #fff;
	}
}

@media (min-width: 768px) {
	.nav {
		&__burger-icon,
		&__mobile-menu-item,
		&__mobile-menu-items {
			display: none;
		}
		&__desktop-menu-items {
			display: block;
		}
	}
}
