@import "tailwindcss";

@import "tailwindcss";
@import "tailwindcss-animated";

html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;

}
