.headerTitle {
  font-weight: bold;
  animation: fade-right 1s both;
}

.RadiusDecorate {
  border-radius: 9999px;
  position: absolute;
  width: 24rem;
  height: 24rem;
  animation: fade-right 1s both;
}

@media (max-width: 992px) {
  .RadiusDecorate {
    width: 18rem;
    height: 18rem;
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
